<base-control #baseControl
              [control]="this">
  <mat-form-field [appearance]="appearance"
                  [ngClass]="fieldClass"
                  (click)="onFieldClick($event)">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <input matInput
           #input
           readonly
           [format]="format"
           [formControl]="field.control"
           [matDatepicker]="datePicker">

    <mat-datepicker-toggle matSuffix
                           [for]="datePicker">
      <mat-icon matDatepickerToggleIcon
                [matTooltip]="clearable && field.control.enabled && field.value != null ? 'Clear' : ''"
                (click)="onToggle($event)">
        {{ clearable && field.control.enabled && field.value != null ? 'close' : 'today' }}
      </mat-icon>
    </mat-datepicker-toggle>

    <mat-datepicker #datePicker
                    [restoreFocus]="false"
                    [startView]="startView"
                    (viewChanged)="viewChanged($event)"
                    (yearSelected)="targetView == 'year' && dateSelected($event)"
                    (monthSelected)="targetView == 'month' && dateSelected($event)"
                    (opened)="datePickerOpened()"
                    (closed)="blur(); field.control.markAllAsTouched()"></mat-datepicker>

    <mat-error *ngIf="baseControl.initialized">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
  </mat-form-field>
</base-control>
