<base-control #baseControl
              [control]="this">
  <div class="d-block mat-form-field">
    <mat-checkbox [formControl]="field.control"
                  [ngClass]="fieldClass">
      <mat-label>
        <ng-container *ngTemplateOutlet="labelTemplate || defaultLabelTemplate; context: { $implicit: field }"></ng-container>
      </mat-label>

      @if (field.info) {
      <mat-icon class="align-bottom"
                style="font-size: 1.25em;"
                [inline]="true"
                [matTooltip]="field.info">info_outline</mat-icon>
      }
    </mat-checkbox>

    @if (field.control.touched && field.control.invalid) {
    <div [@transitionMessages]="'enter'">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </div>
    }
  </div>
</base-control>

<ng-content></ng-content>

<ng-template #defaultLabelTemplate>
  {{ field.label }}&nbsp;
</ng-template>
