datetime-control {
  display: inline-block;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field-flex,
  input {
    cursor: pointer;
  }
}

.datetime-picker-container {
  &+.mat-datepicker-actions {
    padding-left: 0;
    padding-right: 0;

    ngx-mat-timepicker form {
      min-width: auto;
    }
  }

  &~.mat-datepicker-close-button {
    display: none;
  }
}
