datetime-control {
  display: inline-block;

  .mat-form-field-flex,
  input {
    cursor: pointer;
  }
}

.datetime-picker-container {
  &+.mat-datepicker-actions {
    padding-left: 0;
    padding-right: 0;

    ngx-mat-timepicker form {
      min-width: auto;
    }
  }

  &~.mat-datepicker-close-button {
    display: none;
  }
}
