<base-control #baseControl
              [field]="field">
  <mat-form-field [appearance]="appearance"
                  [class]="fieldClass">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <mat-select #select
                [panelClass]="'custom-scroll ' + dropdownClass"
                [ngClass]="{ loading: field.isQuerying }"
                [matTooltipDisabled]="tooltipDisabled"
                [matTooltip]="select.triggerValue"
                [formControl]="field.control"
                [disableOptionCentering]="searchable"
                [compareWith]="optionComparer"
                [multiple]="multiple">

      <mat-select-trigger *ngIf="triggerTemplate">
        <ng-container *ngTemplateOutlet="triggerTemplate; context: { $implicit: select.triggerValue, label: triggerLabel, option: selectedOption }"></ng-container>
      </mat-select-trigger>

      <mat-option *ngIf="searchable">
        <ngx-mat-select-search [placeholderLabel]="isSearchAvailable() ? 'Type to search items' : 'No items available'"
                               [disableInitialFocus]="!isSearchAvailable()"
                               [ngStyle]="{'pointer-events': isSearchAvailable() ? 'all' : 'none'}"
                               [noEntriesFoundLabel]="$any(null)"
                               [formControl]="filterControl"
                               [searching]="field.isQuerying"></ngx-mat-select-search>
      </mat-option>

      <ng-container *ngIf="multiple && showSelectAll && !filterControl.value && field.options?.length">
        <mat-option #selectAllOption>
          All
        </mat-option>

        <hr style="border-bottom:none; border-color: #0000001f">
      </ng-container>

      <ng-container *ngIf="field.options | filter : field.optionsFilterPredicate : filterControl.value as options">
        <ng-container *ngIf="options.length; else noItemsTemplate">
          <ng-container *ngIf="field.optionsGroupProvider">
            <mat-optgroup *ngFor="let group of options | groupBy : field.optionsGroupProvider"
                          [label]="group.key | map : field.optionGroupLabel">
              <mat-option *ngFor="let option of group.items; trackBy : optionTracker"
                          [matTooltip]="option | map : field.optionLabel"
                          [context]="option"
                          [value]="option | map : field.optionValue"
                          [disabled]="option | map : field.optionDisabled">
                <ng-container *ngTemplateOutlet="optionTemplate || defaultOptionTempalte;
                  context: { $implicit: option | map : field.optionLabel, option: option }"></ng-container>
              </mat-option>
            </mat-optgroup>
          </ng-container>

          <ng-container *ngIf="!field.optionsGroupProvider">
            <mat-option *ngFor="let option of options; trackBy : optionTracker"
                        [matTooltip]="option | map : field.optionLabel"
                        [context]="option"
                        [value]="option | map : field.optionValue"
                        [disabled]="option | map : field.optionDisabled">
              <ng-container *ngTemplateOutlet="optionTemplate || defaultOptionTempalte;
                context: { $implicit: option | map : field.optionLabel, option: option }"></ng-container>
            </mat-option>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-select>

    <span matSuffix
          *ngIf="field.isQuerying">
      <spinner [loading]="field.isQuerying"
               [size]="20"></spinner>
    </span>

    <button *ngIf="showClearButton()"
            mat-button
            matSuffix
            mat-icon-button
            matTooltip="Clear"
            (click)="$any(field).value = multiple ? [] : null; $event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-error *ngIf="baseControl.initialized">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
  </mat-form-field>
</base-control>

<ng-template #noItemsTemplate>
  <ng-container *ngIf="field.isQuerying">
    <mat-option [disabled]="true">Loading...</mat-option>
  </ng-container>

  <ng-container *ngIf="!field.isQuerying">
    <ng-container *ngIf="filterControl.value">
      <mat-option [disabled]="true">No items found</mat-option>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #defaultOptionTempalte
             let-label
             let-option="option">
  {{ label }}
</ng-template>
