:host {
  display: inline-block;

  ::ng-deep mat-select {
    &.loading {
      .mat-select-arrow {
        color: transparent !important;
      }
    }

    .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
      width: 100%;
    }
  }
}
