<base-control #baseControl
              [control]="this">
  <div class="field-label">
    <ngx-awesome-uploader #uploader
                          #filePicker="filePicker"
                          [adapter]="adapter"
                          [showeDragDropZone]="true"
                          [ngClass]="fieldClass"
                          [showPreviewContainer]="showPreview"
                          [uploadType]="multiple ? 'multi' : 'single'"
                          [fileMaxSize]="maxFileSize"
                          [totalMaxSize]="totalFileSize"
                          [accept]="accept.toString()"
                          [itemTemplate]="fileItemTemplate"
                          [enableAutoUpload]="autoUpload"
                          [fileExtensions]="allowedFileExtensions"
                          [fileMaxCount]="maxFilesCount"
                          (validationError)="onValidationError($event)"
                          (fileAdded)="onFileAdded($event)">

      @if (getOpenFileDialogHandler(filePicker); as openFileDialog) {
      <div class="dropzoneTemplate">
        @if (contentTemplate) {
        <ng-container *ngTemplateOutlet="contentTemplate; context: { $implicit: openFileDialog }"></ng-container>
        }
        @if (!contentTemplate) {
        <button type="button"
                mat-raised-button
                (click)="openFileDialog()">{{ field.label }}</button>
        }
      </div>
      }
    </ngx-awesome-uploader>
  </div>

  @if (baseControl.initialized && field.control.touched) {
  <mat-error>
    <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
  </mat-error>
  }
</base-control>

<ng-content></ng-content>

<ng-template #fileItemTemplate
             let-fileItem="fileItem"
             let-uploadProgress="uploadProgress">
  <div class="toolbar">
    <span class="text-left">
      {{ fileItem.fileName }}
    </span>

    @if (fileItem) {
    <div>
      <a mat-icon-button
         (click)="uploader.removeFile(fileItem); onFileRemoved(fileItem)">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
    }
  </div>
</ng-template>
