<base-control #baseControl
              [control]="this">
  <div class="field-label">
    <ngx-awesome-uploader #uploader
                          [adapter]="adapter"
                          [showeDragDropZone]="true"
                          [ngClass]="fieldClass"
                          [showPreviewContainer]="showPreview"
                          [uploadType]="multiple ? 'multi' : 'single'"
                          [fileMaxSize]="maxFileSize"
                          [totalMaxSize]="totalFileSize"
                          [accept]="accept.toString()"
                          [itemTemplate]="fileItemTemplate"
                          [enableAutoUpload]="autoUpload"
                          [fileExtensions]="allowedFileExtensions"
                          [fileMaxCount]="maxFilesCount"
                          (validationError)="onValidationError($event)"
                          (fileAdded)="onFileAdded($event)">

      <div class="dropzoneTemplate">
        <ng-container *ngIf="contentTemplate">
          <ng-container *ngTemplateOutlet="contentTemplate; context: { $implicit: onDialogOpen.bind(this) }"></ng-container>
        </ng-container>

        <ng-container *ngIf="!contentTemplate">
          <a mat-raised-button
             (click)="onDialogOpen()">{{ field.label }}</a>
        </ng-container>
      </div>
    </ngx-awesome-uploader>
  </div>

  <mat-error *ngIf="baseControl.initialized && field.control.touched">
    <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>

    <mat-error *ngFor="let error of validationErrors">
      {{ error.file.name }}: {{ error.error }}
    </mat-error>
  </mat-error>
</base-control>

<ng-content></ng-content>

<ng-template #fileItemTemplate
             let-fileItem="fileItem"
             let-uploadProgress="uploadProgress">
  <div class="toolbar">
    <span class="text-left">
      {{ fileItem.fileName }}
    </span>

    <div *ngIf="fileItem">
      <a mat-icon-button
         (click)="uploader.removeFile(fileItem); onFileRemoved(fileItem)">
        <mat-icon>clear</mat-icon>
      </a>
    </div>
  </div>
</ng-template>
