<div class="bootstrap">
  <div class="display-4">
    Angular Extensions
  </div>

  <div class="row">
    <div class="col-sm-6">
      <text-control class="d-block"
                    [field]="editor.firstName"
                    [clearable]="true"
                    actionButtonIcon="qr_code_scanner"
                    actionButtonTooltip="Scan"
                    (actionButton)="scan($event)"></text-control>
    </div>

    <div class="col-sm-6">
      <text-control class="d-block"
                    [field]="editor.lastName"></text-control>
    </div>

    <div class="col-sm-6">
      <text-control class="d-block"
                    [field]="editor.phone"
                    [type]="'tel'"
                    [prefix]="'+ '"
                    [mask]="'00-000-000-000'"
                    [showMaskTyped]="true"
                    [clearable]="true"></text-control>
    </div>

    <div class="col-sm-6">
      <date-control class="d-block"
                    [field]="editor.dateOfBirth"
                    [clearable]="true"></date-control>
    </div>

    <div class="col-sm-6">
      <datetime-control class="d-block"
                        [field]="editor.dateTimeOfBirth"
                        [clearable]="true"></datetime-control>
    </div>

    <div class="col-sm-6">
      <time-control class="d-block"
                    [field]="editor.timeOfBirth"
                    [clearable]="true"></time-control>
    </div>

    <div class="col-sm-6">
      <select-control class="d-block"
                      [field]="editor.dayOfBirth"></select-control>
    </div>

    <div class="col-sm-6">
      <select-control class="d-block"
                      [field]="editor.coutry"
                      [hintClass]="'text-truncate'"
                      [searchable]="true"
                      [clearable]="true"></select-control>
    </div>

    <div class="col-sm-6">
      <select-control class="d-block"
                      [field]="editor.allies"
                      [multiple]="true"
                      [searchable]="true"
                      [showSelectAll]="true"
                      [clearable]="true"></select-control>
    </div>

    <div class="col-sm-6">
      <textarea-control class="d-block"
                        [field]="editor.anthem"></textarea-control>
    </div>

    <div class="col-sm-6">
      <checkbox-control class="d-block"
                        [field]="editor.isOfficial"></checkbox-control>
    </div>

    <div class="col-sm-6">
      <file-control class="d-inline-block mr-3 p-0"
                    [field]="editor.image"
                    [showPreview]="true"></file-control>

      <button class="mr-3"
              mat-raised-button
              color="secondary"
              (click)="editor.reloadControls()">Reload controls</button>

      <button mat-raised-button
              color="primary"
              (click)="submit()">Submit</button>
    </div>
  </div>
</div>
