<div class="bootstrap">
  <div class="display-4">
    Angular Extensions
  </div>

  <div class="row">
    <text-control class="col-sm-4 d-block"
                  [field]="editor.firstName"
                  [clearable]="true"
                  actionButtonIcon="qr_code_scanner"
                  actionButtonTooltip="Scan"
                  (actionButton)="scan($event)"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.lastName"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.phone"
                  [type]="'tel'"
                  [prefix]="'+'"
                  [mask]="'00-000-000-000'"
                  [showMaskTyped]="true"
                  [clearable]="true"></text-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.yearOfBirth"
                  [targetView]="'year'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.monthOfBirth"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.dateOfBirth"
                  [clearable]="true"></date-control>

    <datetime-control class="col-sm-4 d-block"
                      [field]="editor.dateTimeOfBirth"
                      [clearable]="true"></datetime-control>

    <time-control class="col-sm-4 d-block"
                  [field]="editor.timeOfBirth"
                  [clearable]="true"></time-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.dayOfBirth"></select-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.vacationFrom"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.vacationTo"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.country"
                    [hintClass]="'text-truncate'"
                    [searchable]="true"
                    [clearable]="true"></select-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.allies"
                    [multiple]="true"
                    [searchable]="true"
                    [showSelectAll]="true"
                    [clearable]="true"></select-control>

    <textarea-control class="col-sm-4 d-block"
                      [field]="editor.anthem"></textarea-control>

    <checkbox-control class="col-sm-4 d-block"
                      [field]="editor.isOfficial"></checkbox-control>

    <div class="col-sm-4">
      <file-control class="d-inline-block mr-3 p-0"
                    [field]="editor.image"
                    [showPreview]="true"></file-control>

      <button class="mr-3"
              mat-raised-button
              color="secondary"
              (click)="editor.reloadControls()">Reload controls</button>

      <button class="mr-3"
              mat-raised-button
              color="secondary"
              [routerLink]="['../']">Home page</button>

      <button mat-raised-button
              color="primary"
              (click)="submit()">Submit</button>
    </div>
  </div>
</div>
