<div class="bootstrap">
  <div class="display-4">
    Angular Extensions
  </div>

  <div class="row">
    <text-control class="col-sm-4 d-block"
                  [field]="editor.firstName"
                  [clearable]="true"
                  actionButtonIcon="qr_code_scanner"
                  actionButtonTooltip="Scan"
                  (actionButton)="scan($event)"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.lastName"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.email"
                  [type]="'email'"
                  [clearable]="true"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.phone"
                  [type]="'tel'"
                  [prefix]="'+'"
                  [mask]="'00-000-000-000'"
                  [showMaskTyped]="true"
                  [clearable]="true"></text-control>

    <text-control class="col-sm-4 d-block"
                  [field]="editor.website"
                  [type]="'url'"
                  [clearable]="true"></text-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.yearOfBirth"
                  [targetView]="'year'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.monthOfBirth"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.dateOfBirth"
                  [clearable]="true"></date-control>

    <datetime-control class="col-sm-4 d-block"
                      [field]="editor.dateTimeOfBirth"
                      [clearable]="true"></datetime-control>

    <time-control class="col-sm-4 d-block"
                  [field]="editor.timeOfBirth"
                  [clearable]="true"></time-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.dayOfBirth"></select-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.vacationFrom"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <date-control class="col-sm-4 d-block"
                  [field]="editor.vacationTo"
                  [targetView]="'month'"
                  [clearable]="true"></date-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.country"
                    [hintClass]="'text-truncate'"
                    [searchable]="true"
                    [clearable]="true"
                    actionButtonIcon="content_copy"
                    actionButtonTooltip="Copy"
                    [actionButtonVisible]="!!editor.country.value"
                    (actionButton)="copy($event)"></select-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.allies"
                    [multiple]="true"
                    [searchable]="true"
                    [showSelectAll]="true"
                    [clearable]="true"></select-control>

    <textarea-control class="col-sm-4 d-block"
                      [field]="editor.anthem"></textarea-control>

    <checkbox-control class="col-sm-4 d-block"
                      [field]="editor.isOfficial">
      <ng-template #labelTemplate>
        Is official <a href="https://google.com.ua"
           target="_blank">Google</a>
      </ng-template>
    </checkbox-control>

    <select-control class="col-sm-4 d-block"
                    [field]="editor.customOptions"
                    [searchable]="true"
                    [clearable]="true"
                    [virtualization]="true"></select-control>

    <div class="col-sm-4">
      <button class="mr-3"
              mat-raised-button
              color="secondary"
              (click)="recreateEditor()">Re-create Editor</button>

      <button class="mr-3"
              mat-raised-button
              color="secondary"
              (click)="editor.reloadControls()">Reload controls</button>

      <button class="mr-3"
              mat-raised-button
              color="secondary"
              [routerLink]="['details']">Details</button>

      <button mat-raised-button
              color="primary"
              (click)="submit()">Submit</button>

      <hr>

      <file-control class="d-inline-block mr-3 p-0"
                    [field]="editor.image"
                    [showPreview]="true"
                    [maxFileSize]="4">
        <ng-template let-handler>
          <button mat-raised-button
                  color="primary"
                  (click)="handler()">
            Upload file
          </button>
        </ng-template>
      </file-control>
    </div>
  </div>
</div>
