<base-control #baseControl
              [control]="this">
  <mat-form-field [appearance]="appearance"
                  [ngClass]="fieldClass"
                  (click)="onFieldClick($event)">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    @if (icon) {
    <mat-icon matPrefix>{{icon}}</mat-icon>
    }

    @if (field.value && clearable) {
    <a mat-icon-button
       matSuffix
       matTooltip="Clear"
       (click)="field.control.setValue(null)">
      <mat-icon>close</mat-icon>
    </a>
    }

    @if (actionButtonVisible && actionButtonIcon && actionButton.observed) {
    <a mat-icon-button
       matSuffix
       [matTooltip]="actionButtonTooltip"
       (click)="actionButton.emit(field)">
      <mat-icon>{{ actionButtonIcon }}</mat-icon>
    </a>
    }

    @if (mask) {
    <input #input
           matInput
           cdkFocusInitial
           [attr.inputmode]="type == 'number' ? 'decimal' : null"
           [type]="type"
           [attr.step]="step"
           [prefix]="prefix"
           [mask]="mask"
           [showMaskTyped]="showMaskTyped"
           [specialCharacters]="specialCharacters"
           [dropSpecialCharacters]="dropSpecialCharacters"
           [patterns]="$any(pattern)"
           [formControl]="field.control">
    }

    @if (!mask) {
    <input #input
           matInput
           cdkFocusInitial
           [attr.inputmode]="type == 'number' ? 'decimal' : null"
           [attr.step]="step"
           [type]="type"
           [formControl]="field.control">
    }

    @if (baseControl.initialized) {
    <mat-error>
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
    }
  </mat-form-field>
</base-control>
