select-control {
  display: inline-block;

  .mat-form-field-should-float[clearable] {
    .mat-select-arrow-wrapper {
      display: none;
    }
  }

  mat-select {
    &.loading {
      .mat-select-arrow {
        color: transparent !important;
      }
    }

    // fixes trigger value vertical overflow
    mat-select-trigger {
      display: block;
      padding: 4px 0;
    }
  }
}

.mat-optgroup-label {
  position: sticky;
  top: inherit;
  z-index: 1020;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-checkbox + .mat-select-search-input,
mat-icon + .mat-select-search-input {
  padding-left: 8px !important;
}

.select-control-panel {
  .cdk-virtual-scroll-viewport {
    & > .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }

    &.virtualization-disabled {
      display: contents;

      & > .cdk-virtual-scroll-content-wrapper {
        position: static;
      }

      & > .cdk-virtual-scroll-spacer {
        display: none;
      }
    }
  }
}
