<base-control #baseControl
              [control]="this">
  <mat-form-field [appearance]="appearance"
                  [ngClass]="fieldClass"
                  [attr.clearable]="clearable">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <mat-select [panelClass]="'custom-scroll select-control-panel' + dropdownClass"
                [ngClass]="{ loading: field.isQuerying }"
                [matTooltipDisabled]="tooltipDisabled"
                [matTooltip]="tooltip || triggerLabel"
                [matTooltipClass]="'white-space-pre-line'"
                [formControl]="field.control"
                [disableOptionCentering]="searchable"
                [compareWith]="optionComparer"
                [multiple]="multiple">
      <mat-select-trigger>
        <ng-container *ngTemplateOutlet="triggerTemplate || (multiple ? defaultTriggerMultipleTemplate : defaultTriggerTemplate);
                      context: { $implicit: triggerLabel, label: triggerLabel, option: selectedOption }"></ng-container>
      </mat-select-trigger>

      @if (searchable) {
      <mat-option>
        <ngx-mat-select-search class="d-block"
                               [showToggleAllCheckbox]="multiple"
                               [toggleAllCheckboxIndeterminate]="isSelectAllChecked == null"
                               [toggleAllCheckboxChecked]="isSelectAllChecked"
                               [toggleAllCheckboxDisabled]="multiple && !(field.options | filter : field.optionsFilterPredicate : filterControl.value).length"
                               [toggleAllCheckboxTooltipMessage]="'Select all'"
                               [placeholderLabel]="isSearchAvailable() ? 'Type to search items' : 'No items available'"
                               [disableInitialFocus]="!isSearchAvailable()"
                               [ngStyle]="{'pointer-events': isSearchAvailable() ? 'all' : 'none'}"
                               [noEntriesFoundLabel]="null"
                               [formControl]="filterControl"
                               [searching]="field.isQuerying"
                               (toggleAll)="toggleSelectAll($event)">
          @if (searchActionTemplate) {
          <div [hidden]="filterControl.value"
               class="mat-select-search-custom-header-content">
            <ng-container *ngTemplateOutlet="searchActionTemplate"></ng-container>
          </div>
          }
        </ngx-mat-select-search>
      </mat-option>
      }

      @if (headerTemplate) {
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      }

      @if (field.options | filter : field.optionsFilterPredicate : filterControl.value; as options) {
      @if (options.length) {
      @if (field.optionsGroupProvider) {
      @for (group of options | groupBy : field.optionsGroupProvider; track group) {
      <mat-optgroup #optionGroup
                    [style.top]="searchable ? optionHeight + 'px' : '0px'"
                    [label]="multiple ? '' : group.key | map : field.optionGroupLabel">
        @if (multiple && groupStates.get(group.key); as group) {
        <span>
          <mat-pseudo-checkbox class="mat-option-pseudo-checkbox"
                               [state]="group.state"
                               (click)="toggleOptionGroup(group, optionGroup)"></mat-pseudo-checkbox>
          {{ group.key | map : field.optionGroupLabel }}
        </span>
        }
        @for (option of group.items; track option) {
        <mat-option [matTooltipDisabled]="optionTooltipDisabled"
                    [matTooltip]="option | map : field.optionTooltip ?? field.optionLabel"
                    [value]="option | map : field.optionValue"
                    [disabled]="option | map : field.optionDisabled">
          <ng-container *ngTemplateOutlet="optionTemplate || defaultOptionTempalte;
                              context: { $implicit: option | map : field.optionLabel, option: option }"></ng-container>
        </mat-option>
        }
      </mat-optgroup>
      }
      }
      @if (!field.optionsGroupProvider) {
      @if (virtualization) {
      <cdk-virtual-scroll-viewport [itemSize]="optionHeight"
                                   [style.height.px]="viewportHeight"
                                   [class.virtualization-disabled]="options.length * optionHeight < viewportHeight">
        <mat-option *cdkVirtualFor="let option of options; trackBy : optionTracker"
                    [style.height.px]="optionHeight"
                    [value]="option | map : field.optionValue"
                    [disabled]="option | map : field.optionDisabled">
          <ng-container *ngTemplateOutlet="optionTemplate || defaultOptionTempalte;
                              context: { $implicit: option | map : field.optionLabel, option: option }"></ng-container>
        </mat-option>
      </cdk-virtual-scroll-viewport>
      }
      @if (!virtualization) {
      @for (option of options; track option) {
      <mat-option [matTooltipDisabled]="optionTooltipDisabled"
                  [matTooltip]="option | map : field.optionTooltip ?? field.optionLabel"
                  [value]="option | map : field.optionValue"
                  [disabled]="option | map : field.optionDisabled">
        <ng-container *ngTemplateOutlet="optionTemplate || defaultOptionTempalte;
                            context: { $implicit: option | map : field.optionLabel, option: option }"></ng-container>
      </mat-option>
      }
      }
      }
      } @else {
      @if (field.isQuerying) {
      <mat-option [disabled]="true">Loading...</mat-option>
      }
      @if (!field.isQuerying) {
      @if (filterControl.value) {
      <mat-option [disabled]="true">No items found</mat-option>
      }
      }
      }
      }
    </mat-select>

    @if (field.isQuerying) {
    <span matSuffix>
      <mat-spinner mode="indeterminate"
                   [diameter]="20"></mat-spinner>
    </span>
    }

    @if (showClearButton()) {
    <a mat-icon-button
       matSuffix
       matTooltip="Clear"
       (click)="clear(); $event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </a>
    }

    @if (!field.isQuerying && actionButtonVisible && actionButtonIcon && actionButton.observed) {
    <a mat-icon-button
       matSuffix
       [matTooltip]="actionButtonTooltip"
       (click)="actionButton.emit(field); $event.stopPropagation()">
      <mat-icon>{{ actionButtonIcon }}</mat-icon>
    </a>
    }

    @if (baseControl.initialized) {
    <mat-error>
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
    }
  </mat-form-field>
</base-control>


<ng-template #defaultOptionTempalte
             let-label
             let-option="option">
  {{ label }}
</ng-template>

<ng-template #defaultTriggerTemplate
             let-triggerValue>
  {{ triggerValue }}
</ng-template>

<ng-template #defaultTriggerMultipleTemplate
             let-options="option">
  <span [truncate]="(options ?? []) | map : this.field.optionDisplayLabel ?? this.field.optionLabel"></span>
</ng-template>
