.control {
  &:not(:last-child):not(.d-block) {
    padding-right: 1.34375em;
  }

  &.d-none {
    display: none !important;
  }


  &.d-block {
    display: block;

    mat-form-field {
      display: block;
      margin-right: 0;
    }
  }

  base-control {
    font-size: 14px;

    mat-form-field {
      min-width: 150px;

      &.p-0 {
        .mat-form-field-wrapper {
          padding: 0 !important;
        }

        .mat-form-field-underline {
          bottom: 0 !important;
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0.25rem;
      }

      .mat-form-field-subscript-wrapper {
        position: relative;
      }

      .mat-hint {
        display: block;
        width: 100%;
      }
    }
  }
}
