<ng-content></ng-content>

<ng-template #hintTemplate>
  <mat-hint [ngClass]="control.hintClass"
            style="cursor: default;"
            [matTooltip]="control.field.info">
    {{ control.field.info }}
  </mat-hint>
</ng-template>

<ng-template #errorsTemplate>
  <mat-error *ngIf="control.field.control.errors?.required as error">
    {{ control.field.validation.requiredTrue?.text || control.field.validation.required?.text || "Field is required" }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.min as error">
    {{ control.field.validation.min?.text || "Value should be greater than " + error.min }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.max as error">
    {{ control.field.validation.max?.text || "Value should be smaller than " + error.max }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.minlength as error">
    {{ control.field.validation.minLength?.text || "Value should be longer than " + error.requiredLength }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.maxlength as error">
    {{ control.field.validation.maxLength?.text || "Value should be shorter than " + error.requiredLength }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.minDate as error">
    {{ control.field.validation.minDate?.text || "Date should be after the " + (error.expected | date) }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.minOrEqualDate as error">
    {{ control.field.validation.minOrEqualDate?.text || "Date should be same or after the " + (error.expected | date) }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.maxDate as error">
    {{ control.field.validation.maxDate?.text || "Date should be before the " + (error.expected | date) }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.maxOrEqualDate as error">
    {{ control.field.validation.maxOrEqualDate?.text || "Date should be same or before the " + (error.expected | date) }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.pattern as error">
    {{ control.field.validation.pattern?.text || error.message || "Value does not match the required pattern" }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.custom as error">
    {{ control.field.validation.custom?.text || error.message }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.async as error">
    {{ control.field.validation.async?.text || error.message }}
  </mat-error>

  <mat-error *ngIf="control.field.control.errors?.native as error">
    {{ control.field.validation.native?.text || error.message }}
  </mat-error>
</ng-template>
