<base-control #baseControl
              [field]="field">
  <mat-form-field class="cursor-pointer"
                  [appearance]="appearance"
                  [class]="fieldClass"
                  (click)="datePicker.open(); $event.preventDefault();">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <input matInput
           #input
           readonly
           [format]="format"
           [formControl]="field.control"
           [matDatepicker]="datePicker">

    <mat-datepicker-toggle matSuffix
                           [for]="datePicker">
      <mat-icon matDatepickerToggleIcon
                [matTooltip]="clearable && field.value != null ? 'Clear' : ''"
                (click)="onToggle($event)">
        {{ clearable && field.value != null ? 'close' : 'today' }}</mat-icon>
    </mat-datepicker-toggle>

    <mat-datepicker #datePicker
                    [startView]="startView"
                    (viewChanged)="viewChanged($event, datePicker)"
                    (yearSelected)="dateSelected($event, datePicker, targetView == 'year')"
                    (monthSelected)="dateSelected($event, datePicker, targetView == 'month')"
                    (closed)="field.control.markAllAsTouched()"></mat-datepicker>

    <mat-error *ngIf="baseControl.initialized">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
  </mat-form-field>
</base-control>
