<h2 mat-dialog-title>
  {{ settings.title }}
</h2>

<form [formGroup]="form.formGroup"
      (ngSubmit)="submit()">
  <mat-dialog-content>
    <ng-container *ngIf="settings.multiline">
      <textarea-control class="d-block"
                        [field]="field"
                        [focused]="true"></textarea-control>
    </ng-container>

    <ng-container *ngIf="!settings.multiline">
      <text-control class="d-block"
                    [field]="field"
                    [focused]="true"></text-control>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button
            type="button"
            [mat-dialog-close]="null">Close</button>

    <button mat-raised-button
            color="primary"
            type="submit">Submit</button>
  </mat-dialog-actions>
</form>
