<h2 class="font-weight-normal"
    mat-dialog-title
    [innerHtml]="settings.title | trustedHtml"></h2>

@if (settings.template) {
<mat-dialog-content>
  <ng-container *ngTemplateOutlet="settings.template; context: settings.templateContext"></ng-container>
</mat-dialog-content>
}

<mat-dialog-actions [align]="'end'">
  @for (button of settings.buttons; track button) {
  <button mat-raised-button
          type="button"
          cdkFocusInitial
          [color]="button.color"
          [mat-dialog-close]="button.value !== undefined ? button.value : button.text">
    {{ button.text }}
  </button>
  }
</mat-dialog-actions>
