time-control {
  display: inline-block;

  .mat-form-field-flex,
  input {
    cursor: pointer;
  }
}

.time-picker-container {
  display: none !important;

  &+.mat-datepicker-actions {
    padding: 0 2em;

    ngx-mat-timepicker form {
      min-width: auto;
    }
  }

  &~.mat-datepicker-close-button {
    display: none;
  }
}
