time-control {
  display: inline-block;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field-flex,
  input {
    cursor: pointer;
  }
}

.time-picker-container {
  display: none !important;

  &+.mat-datepicker-actions {
    padding: 0 2em;

    ngx-mat-timepicker form {
      min-width: auto;
    }
  }

  &~.mat-datepicker-close-button {
    display: none;
  }
}
