<ng-content></ng-content>

<ng-template #hintTemplate>
  <mat-hint [ngClass]="control.hintClass"
            style="cursor: default;"
            [matTooltip]="control.field.info">
    {{ control.field.info }}
  </mat-hint>
</ng-template>

<ng-template #errorsTemplate>
  @for (error of control.field.control.errors | keyvalue; track error) {
  <mat-error>
    @switch (error.key) {
    @case ('required') {
    {{ control.field.validation.requiredTrue?.text || control.field.validation.required?.text || "Field is required" }}
    }
    @case ('min') {
    {{ control.field.validation.min?.text || "Value should be greater than " + error.value.min }}
    }
    @case ('max') {
    {{ control.field.validation.max?.text || "Value should be smaller than " + error.value.max }}
    }
    @case ('minlength') {
    {{ control.field.validation.minLength?.text || "Value should be longer than " + error.value.requiredLength }}
    }
    @case ('maxlength') {
    {{ control.field.validation.maxLength?.text || "Value should be shorter than " + error.value.requiredLength }}
    }
    @case ('minDate') {
    {{ control.field.validation.minDate?.text || "Date should be after the " + (error.value.expected | date) }}
    }
    @case ('minOrEqualDate') {
    {{ control.field.validation.minOrEqualDate?.text || "Date should be same or after the " + (error.value.expected | date) }}
    }
    @case ('maxDate') {
    {{ control.field.validation.maxDate?.text || "Date should be before the " + (error.value.expected | date) }}
    }
    @case ('maxOrEqualDate') {
    {{ control.field.validation.maxOrEqualDate?.text || "Date should be same or before the " + (error.value.expected | date) }}
    }
    @case ('pattern') {
    {{ control.field.validation.pattern?.text || error.value.message || "Value does not match the required pattern" }}
    }
    @case ('mask') {
    {{ "Value does not match the required pattern" }}
    }
    @case ('custom') {
    {{ control.field.validation.custom?.text || error.value.message }}
    }
    @case ('async') {
    {{ control.field.validation.async?.text || error.value.message }}
    }
    @case ('native') {
    {{ control.field.validation.native?.text || error.value.message }}
    }
    @default {
    {{ error.value.message || error.value }}
    }
    }
  </mat-error>
  }
</ng-template>
