.control {
  &:not(:last-child):not(.d-block) {
    padding-right: 1.34375em;
  }

  &.d-none {
    display: none !important;
  }


  &.d-block {
    display: block;

    mat-form-field {
      display: block;
      margin-right: 0;
    }
  }

  base-control {
    font-size: 14px;

    mat-label {
      &.required::after {
        content: "*";
        color: red;
      }
    }

    mat-form-field {
      min-width: 150px;

      &.p-0 {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-form-field-wrapper {
          padding: 0 !important;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-form-field-underline {
          bottom: 0 !important;
        }
      }

      // fixes alignment issue where field value is not centered
      &.mat-form-field-appearance-outline {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-form-field-flex {
          margin-top: 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        &.mat-form-field-should-float {
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-infix {
            top: -2px;
          }
        }
      }

      &.mat-form-field-appearance-fill {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-form-field-subscript-wrapper {
          margin: 0 !important;
        }
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-wrapper {
        padding-bottom: 0.25rem;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-subscript-wrapper {
        position: relative;
      }

      .mat-mdc-form-field-hint {
        display: block;
        width: 100%;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-suffix {
        .mat-mdc-icon-button {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
}
