:host {
  .inputs {
    align-items: baseline;

    .input-actions {
      padding: 0;
      display: flex;

      button {
        border-radius: 50%;

        mat-icon {
          margin: 0;
        }
      }
    }
  }
}
