<base-control #baseControl
              [control]="this">
  <mat-form-field [appearance]="appearance"
                  [ngClass]="fieldClass"
                  (click)="onFieldClick($event)">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <mat-icon *ngIf="icon"
              matPrefix>{{icon}}</mat-icon>

    <a *ngIf="!(field.value && clearable) && actionButtonIcon && actionButton.observers.length"
       mat-icon-button
       matSuffix
       [matTooltip]="actionButtonTooltip"
       (click)="actionButton.emit(field)">
      <mat-icon>{{ actionButtonIcon }}</mat-icon>
    </a>

    <a *ngIf="field.value && clearable"
       mat-icon-button
       matSuffix
       matTooltip="Clear"
       (click)="field.value = null">
      <mat-icon>close</mat-icon>
    </a>

    <ng-container *ngIf="mask">
      <input #input
             matInput
             cdkFocusInitial
             [attr.inputmode]="type == 'number' ? 'decimal' : null"
             [type]="type"
             [prefix]="prefix"
             [mask]="mask"
             [showMaskTyped]="showMaskTyped"
             [specialCharacters]="specialCharacters"
             [dropSpecialCharacters]="dropSpecialCharacters"
             [patterns]="$any(pattern)"
             [formControl]="field.control">
    </ng-container>

    <ng-container *ngIf="!mask">
      <input #input
             matInput
             cdkFocusInitial
             [attr.inputmode]="type == 'number' ? 'decimal' : null"
             [type]="type"
             [formControl]="field.control">
    </ng-container>

    <mat-error *ngIf="baseControl.initialized">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
  </mat-form-field>
</base-control>
