<base-control #baseControl
              [field]="field"
              [hintClass]="hintClass">
  <mat-form-field cdkTrapFocus
                  [appearance]="appearance"
                  [ngClass]="fieldClass"
                  [cdkTrapFocusAutoCapture]="focused"
                  (click)="onFieldClick($event)">
    <mat-label>
      {{ field.label }}
    </mat-label>

    <mat-hint>
      <ng-container *ngTemplateOutlet="baseControl.hintTemplate"></ng-container>
    </mat-hint>

    <mat-icon *ngIf="icon"
              matPrefix>{{icon}}</mat-icon>

    <button *ngIf="!(field.value && clearable) && actionButtonIcon && actionButton.observers.length"
            mat-icon-button
            matSuffix
            [matTooltip]="actionButtonTooltip"
            (click)="actionButton.emit(field)"
            type="button">
      <mat-icon>{{ actionButtonIcon }}</mat-icon>
    </button>

    <button *ngIf="field.value && clearable"
            mat-icon-button
            matSuffix
            aria-label="Clear"
            matTooltip="Clear"
            (click)="field.value = null"
            type="button">
      <mat-icon>close</mat-icon>
    </button>

    <ng-container *ngIf="mask">
      <input #input
             matInput
             cdkFocusInitial
             [attr.inputmode]="type == 'number' ? 'decimal' : null"
             [type]="type"
             [prefix]="prefix"
             [mask]="mask"
             [showMaskTyped]="showMaskTyped"
             [formControl]="field.control">
    </ng-container>

    <ng-container *ngIf="!mask">
      <input #input
             matInput
             cdkFocusInitial
             [attr.inputmode]="type == 'number' ? 'decimal' : null"
             [type]="type"
             [formControl]="field.control">
    </ng-container>

    <mat-error *ngIf="baseControl.initialized">
      <ng-container *ngTemplateOutlet="baseControl.errorsTemplate"></ng-container>
    </mat-error>
  </mat-form-field>
</base-control>
